<head>
  <meta name="google-site-verification" content="UjhyKoJxXvF8jaREdiroUdj8zXjnMj6Arihc0zZfXnM" />
  <title>{{.Params.title}} - {{ $.Site.Title}}</title>
  <link rel='canonical' href='{{ .Permalink }}' />
  {{ partial "head/meta" .}}
  {{ partial "head/style" .}}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  {{- if not .Site.IsServer }}
     {{ partial "google_analytics.html" . }}
  {{- end }}  
</head>
