{{ partial "header" .}}

<h1>{{ .Site.Params.notFound.h1 }}</h1>
<p>{{ .Site.Params.notFound.p }}</p>
<img src="{{ .Site.Params.notFound.gopher }}" alt="gopher" title="gopher" class="gopher" />

{{ if .Site.Params.mainSections }}
  {{ $scratch := newScratch }}
  {{ if in .Site.Params.mainSections "portfolio" }}
    {{ $scratch.Set "section" .Site.Params.sections.portfolio }}
  {{ else }}
    {{ $scratch.Set "section" (.Site.Params.sections.post) }}
  {{ end }}

{{end}}

{{ partial "footer" .}}
