{{- with .Site.GoogleAnalytics -}}
<!-- Global site tag (gtag.js) - Google Analytics -->
	<script>
		  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
	</script>
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
	{{- end -}}
